
body             { background: #999; color: #111; font-family: Helvetica, sans-serif; 
                   text-align: left; font-size: 14px; }

#container       { position: relative; z-index: 0; width: 750px; height: auto; margin: 60px auto 40px; }

.box             { background: #fcfcfc; padding: 0px 0px 20px; border: 2px solid black;  
                   margin-bottom: 20px; position: relative; }

#name-box        { z-index: 1; background: #eee; height: 210px; text-indent: 50px; }
#title           { padding: 6px 0px; font-size: 14px; font-variant:small-caps; }
#contact         { display: none; }
#research        { display: none; }
#activity        { display: none; }
#teaching        { display: none; }
#teaching td     { padding: 5px 15px; }

#papers-box      { background: #fcfcfc; height: auto; text-indent: 50px; }
#papers-box .seccontent { text-indent: 0px; }
#papers-box td   { padding: 1px 0px; }
#course-box      { background: #fcfcfc; height: auto; text-indent: 50px; }
#course-box .seccontent { text-indent: 0px; }
#shortcv-box     { background: #fcfcfc; height: auto; text-indent: 50px; }
#shortcv-box .seccontent { text-indent: 0px; }
#shortcv-box td  { padding: 5px 15px; }
#programs-box  { background: #fcfcfc; height: auto; text-indent: 50px; }
#programs-box .seccontent { text-indent: 0px; }

#strip           { padding-top: 0px; height: 60px; background-color: #666; } 
#fullname        { padding-top: 35px; font-size: 24px; font-weight: bold; margin: 0px; top: 0pt; font-variant: small-caps; 
                   font-family: Muli, Arial, Helvetica, sans-serif;}
#name            { color: #eee; }
#firstlastname   { color: #e00; }
#secondlastname  { color: #eee; }
.access          { display: none; }

.paper-title     { font-size: 15px; font-weight: normal; font-variant: small-caps; font-weight:normal; }
.paper-info      { font-size: 12px; padding-left: 20px; position:relative; top: -1.2em; }
.arxiv           { text-align: right; font-variant: small-caps; white-space:nowrap; }
.address2        { text-align: right; }
.nsf             { font-size: 14px; text-align: center; padding-top: 40px; font-variant: small-caps; }
.block           { margin-top: 25px; }
.cvblock         { margin-top: 25px; margin-bottom: 10px; font-variant: small-caps; font-size: 15px;
                   text-align: center; font-weight: bold; }
.date            { text-align: right; white-space:nowrap; }

ul               { margin-top: 1em; }
ul.mycir         { list-style-type:circle; padding-left: 30px; }
ol               { margin-top: 1em; }
ol.mydec         { list-style-type:decimal; padding-left: 30px; }
li               { margin-bottom: 10px; }
p                { margin-top: 1em; }

.navitem         { z-index: 101; display: block; font-size: 14px; background-color: #444; 
				   position: absolute; right: 50px; 
                   border-left: 3px solid #066; width: 75px; padding: 4px 15px;
                   text-align: right; text-decoration: none; color: #eee; font-weight: bold;
                   border: 1px solid black; font-variant:small-caps; }
.navitem:hover   { color: #e00; }
#nav-contact     { top: 90px; }
#nav-research    { top: 120px; }
#nav-activity    { top: 150px; }
#nav-teaching    { top: 180px; }
.activebutton    { color: #e00; }
#navigation      { position: absolute; top: 0; right: 0; z-index: 100; }

.sectitle        { position: relative; text-align: center; color: #fff; }
.section h3      { position: relative; margin: 0px; padding: 5px 25px; height: 20px; color:#555555;
                   font-weight: bold; font-size: 22px; text-align: center; font-variant: small-caps;  
                   font-family: Muli, Arial, Helvetica, sans-serif; } 
.section h4      { position: relative; margin: 0px; padding: 5px 25px; height: 14px; margin-top: 30px; margin-bottom: 20pt;
                   font-weight: bold; font-size: 16px; background-color: #444; text-align: center; font-variant: small-caps; 
                   font-family: Muli, Arial, Helvetica, sans-serif; } 
.section h5      { position: relative; margin: 0px; padding: 5px 25px; height: 14px; margin-top: 20px; margin-bottom: 10pt;
                   font-weight: bold; font-size: 16px; text-align: center; font-variant: small-caps; } 
.secsubtitle     { position: relative; text-align: center; color: #fff; }
.seccontent      { margin-top: 8px; padding: 30px 50px; line-height: 125%; text-align: left; }
.section a       { color: #e00; text-decoration: none; }
.section a:hover { text-decoration: underline; }

#program-table   {position:relative; font-family:Helvetica, sans-serif; width:100%; border-collapse:collapse; }
#program-table td, #program-table th  {font-size:14px; border:0; padding:8px 7px 2px 7px;}
#program-table th {text-align:left; padding-top:5px; padding-bottom:4px; background-color:#777777; color:#fff;
                   font-family: Muli, Arial, Helvetica, sans-serif; } 
#program-table tr.alt td {color:#000;background-color:#E3E3E3;}
